<h1>編集</h1>
<% if @comic.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@comic, {multipart: true}) do |f| %>
<p>タイトル</p>
<%= f.text_area :title %>
<%= f.label :"出版社" %><br>
<%= f.collection_select :publisher_id, Publisher.all, :id, :name %>
<p>この作品について</p>
<%= f.text_area :content %><br>
<p>値段</p>
<%= f.text_field :price %>
<p>画像</p>
<%= f.file_field :image %>
<input type="submit" value="投稿">
<% end %>