<h1>漫画詳細</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<img src="<%= "/comic_image/#{@comic.image_name}"%> ">
<p><%= @comic.title %><br>
<%= "#{@comic.price}円" %><br>
<%= Publisher.find(@comic.publisher_id).name %><br>
<%= @comic.content %>
<br>
<br>



 <%= form_for(@review, url: comic_reviews_path(@comic.id), :method => "post") do |r| %>
 <%= r.text_area :name %>
<%= r.text_area :content %>
<input type="submit" value="投稿">
<% end %>  



<% @reviews.each do |review| %>
----------------------------<br>
<%= review.content %><br>
<% end %>

</p>
<br>
<%= link_to "編集", edit_comic_path(@comic) %>
<%= link_to "削除", comic_path(@comic), {method: "delete"} %>
<%= link_to "TOPへ", root_path %>